body * {
    font-family: 'Roboto', serif !important;
}

body {
    width: auto;
    margin: 0px auto;
    overflow-x: hidden;
}

.text-bold {
    font-weight: 900;
}
.btn-mobile{
    display: block;
    text-decoration: none;
}

.arrow {
    position: absolute;
    bottom: 4%;
    right: 10%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.arrow span {
    display: block;
    width: 3vw;
    height: 3vw;
    border-bottom: 0.8vw solid #fff;
    border-right: 0.8vw solid #fff;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2) {
    animation-delay: -.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -.4s;
}

a:link{
    color: white;
}

a:visited{
    color: white;
}

a:hover{
    color: white;
}

a:active{
    color: white;
}

.center {
    text-align: center;
}

.gutter-bottom {
    margin-bottom: 30px;
}

.subtitle {
    color: #ce846d;
}

.prize {
    width: 100px;
    display: block;
    margin-bottom: 15px;
}

.desc-om {
    float: right;
    width: 74%;
}

.poza-om {
    width: 20%;
    float: left;
}

@media screen and (max-width: 600px) {
    .desc-om {
        width: 100%;
    }
    .poza-om {
        display: none;
    }
}

ul,
li {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    margin-bottom: 3px;
}

.mb {
    margin-bottom: 20px;
}


/* restu ?????????? */

#logo {
    height: 50px;
    margin-top: 20px;
}

#ribbon {
    height: 90px;
    width: 100vw;
    /* background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(7px); */
    position: fixed;
    top: 0;
    left: 0;
    text-align: left;
    /*Mult mai ok asa decat centrat*/
    display: block;
    z-index: 2;
}

img.persoana-echipa {
    width: 100%;
}

.nume-pers {
    margin-top: 5px;
    text-transform: uppercase;
    font-size: 20px;
}

#data {
    font-size: 60px;
    font-weight: bold;
    color: white;
    margin-top: 32vh;
}

#data-inscrieri {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
}

.star {
    font-size: 100px;
    margin: 0px;
    line-height: 60px;
    margin-left: -10px;
    /* aia e */
}

.wrapper {
    font-family: 'Times New Roman', Times, serif;
    width: 90%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-size: 17px;
}

h4,
h3,
h2,
h1 {
    font-weight: 900;
}

#proiectul {
    margin-bottom: 150px;
    margin-top: 50px;
}

#proiectul p {
    font-size: 20px;
}

#proiectul h2 {
    padding-top: 50px;
}

#management-proiect {
    margin-bottom: 50px;
    padding-top: 140px;
}

.sectiuni {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 40px;
}

.texte {
    background: #fff;
    color: #222;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.poza-eveniment {
    width: 100px;
}

.placeholder-img {
    width: 100px;
    height: 100px;
    background: url(http://goo.gl/vyAs27) no-repeat scroll 0 0;
}

::-moz-selection {
    background: rgba(73, 122, 127, 0.6);
    color: white;
}

::selection {
    background: rgba(73, 122, 127, 0.6);
    color: white;
}

.om {
    font-size: 18px;
    padding: 20px;
    color: rgba(0, 0, 0, 0.65);
    font-weight: 500;
    text-align: center;
}

.om img {
    margin-bottom: 25px;
}

.om h4 {
    color: black;
}

.premii {
    margin-bottom: 35px;
}

#sectiuni-tot {
    padding-top: 140px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    color: white;
    padding: 3px;
    padding-top: 20px;
    width: 100%;
    background: #184A67;
}

footer p {
    color: #fff;
}

footer .container {
    margin: auto;
    width: 100%;
    padding: 0px;
}

.logo-social:hover {
    opacity: 50%;
}

.logo-social {
    width: 50px;
}

.icon-detalii {
    width: 20px;
}

.logo-parteneri {
    width: 325px;
    padding: 40px 25px;
}

li {
    /*color: violet;  WHAT THE ACTUAL FUCK? */
    text-decoration: none;
}

footer {
    margin-top: 130px;
}

li::-moz-selection {
    color: white;
}

li::selection {
    color: white;
}

ul {
    list-style-type: none;
}

#email-proiect {
    margin-top: 20px;
}

.eveniment {
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.delimitator-footer {
    border-right: 2px solid white;
    border-left: 2px solid white;
    margin-bottom: 15px;
}

@media only screen and (max-width: 768px) {
    .delimitator-footer {
        border: 0px;
    }
}

@media only screen and (max-width: 1200px) {
    .delimitator-footer {
        border-right: 0px;
    }
    #menu1 {
        display: none;
    }
}

@media only screen and (max-width: 998px) {
    #menu2 {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    #menu3 {
        display: none;
    }
}

@media only screen and (max-width: 530px) {
    #menu4 {
        display: none;
    }
    #sm-display {
        margin: 50px 0;
    }
    #sm-display h3 {
        margin-bottom: 20px;
    }
    #sm-display .logo-parteneri {
        width: 300px;
    }
}

@media only screen and (max-width: 320px) {
    #menu5 {
        display: none;
    }
}

@media only screen and (max-width: 940px) {
    .delimitator-footer {
        border-left: 0px;
    }
}


/*# sourceMappingURL=App.css.map */